<div>
  <h1 class="font-bold text-4xl">StaticPages#documentation</h1>
  <p>Find me in app/views/static_pages/documentation.html.erb</p>
</div>

<div contents data-controller="popover" data-popover-placement-value="bottom-start">
  <button type="button" id="popover_button" class="btn" data-popover-target="trigger" popovertarget="popover">
    Open popover
  </button>
  <div popover id="popover" class="popover" data-popover-target="content">
    <%= form_with url: nil, class: "flex flex-col gap p-4" do |form| %>
        <div class="flex flex-col">
            <h3 class="font-semibold leading-none mbe-1">Dimensions</h3>
            <p class="text-sm text-subtle">Set the dimensions for the layer.</p>
        </div>

        <div class="flex flex-col gap-half">
            <div class="flex items-center gap">
            <%= form.label :width, class: "text-sm font-medium leading-none", style: "min-inline-size: 30%;" %>
            <%= form.text_field :width, value: "100%", class: "input", autofocus: true %>
            </div>
            <div class="flex items-center gap">
            <%= form.label :max_width, class: "text-sm font-medium leading-none", style: "min-inline-size: 30%;" %>
            <%= form.text_field :max_width, value: "300px", class: "input" %>
            </div>
            <div class="flex items-center gap">
            <%= form.label :height, class: "text-sm font-medium leading-none", style: "min-inline-size: 30%;" %>
            <%= form.text_field :height, value: "25px", class: "input" %>
            </div>
            <div class="flex items-center gap">
            <%= form.label :max_height, class: "text-sm font-medium leading-none", style: "min-inline-size: 30%;" %>
            <%= form.text_field :max_height, value: "none", class: "input" %>
            </div>
        </div>
        <% end %>
  </div>
</div>