<div>
  <h1 class="font-bold text-4xl">StaticPages#homepage</h1>
  <p>Find me in app/views/static_pages/homepage.html.erb</p>
</div>

<button class="btn rounded-lg bg-rose-500 hover:bg-rose-600 text-white hover:text-gray-200">
  Hover Me
</button>

<div class="grid grid-cols-1 grid-cols-2@md grid-cols-4@lg gap-4 p-4">
  <!-- Card 1 -->
  <div class="p-4 bg-shade rounded-md shadow-sm">Card 1</div>
  
  <!-- Card 2 -->
  <div class="p-4 bg-shade rounded-md shadow-sm">Card 2</div>
  
  <!-- Card 3 -->
  <div class="p-4 bg-shade rounded-md shadow-sm">Card 3</div>
  
  <!-- Card 4 -->
  <div class="p-4 bg-shade rounded-md shadow-sm">Card 4</div>
  
  <!-- ... more cards -->
</div>

<div class="grid grid-cols-1 grid-cols-12@md gap-6 p-5">
  <!-- Main Content -->
  <main class="col-span-12 col-span-8@md p-4 bg-white rounded-md">
    <h1 class="text-2xl font-bold">Main Content Area</h1>
    <p class="mbs-4">This area is wider on larger screens.</p>
  </main>
  
  <!-- Sidebar -->
  <aside class="col-span-12 col-span-4@md p-4 bg-shade rounded-md">
    <h2 class="text-xl font-semibold">Sidebar</h2>
    <p class="mbs-2">This is the sidebar content.</p>
  </aside>
</div>

<div class="mbs-10">
  <%= form_with url: nil, class: "card flex flex-col gap" do |form| %>
    <div class="flex flex-col">
      <h3 class="font-semibold leading-none mbe-1">Create project</h3>
      <p class="text-sm text-subtle">Deploy your new project in one-click.</p>
    </div>

    <div class="flex flex-col gap mb-2">
      <div class="flex flex-col gap-half">
        <%= form.label :name, class: "text-sm font-medium leading-none" %>
        <%= form.text_field :name, placeholder: "Name of your project", class: "input" %>
      </div>

      <div class="flex flex-col gap-half">
        <%= form.label :framework, class: "text-sm font-medium leading-none" %>
        <%= form.select :framework, [["Ruby on Rails", "ruby"], ["Laravel", "laravel"], ["Next", "next"]], {}, class: "input" %>
      </div>
    </div>

    <div class="flex items-center justify-between">
      <button type="reset" class="btn">Reset</button>
      <%= form.submit "Destroy", class: "btn btn--primary" %>
    </div>
  <% end %>
</div>