<div class="flex justify-between items-center i-full">
  <div class="flex items-center">
    <span class="font-bold"><%= yield(:page_header) || "Dashboard" %></span>
  </div>

  <div class="flex items-center gap">
    <div class="show@md gap">
      <%= yield :header_action_buttons %>
    </div>

   <%# 1. Define the trigger button using the button_tag helper. %>
    <% trigger = button_tag type: "button", class: "btn btn--icon hide@md", data: { action: "dialog#showModal" } do %>
      <span class="icon icon--sun icon--color-scheme-light" aria-hidden="true"></span>
      <span class="icon icon--moon icon--color-scheme-dark" aria-hidden="true"></span>
      <span class="sr-only">Theme switcher</span>
    <% end %>

    <%# 2. Call our generic modal_dialog helper with the trigger and content. %>
    <%= modal_dialog trigger, title: "Select a theme" do %>
      <div class="menu" data-controller="menu" data-action="keydown->menu#navigate" role="menu">
        
        <button type="button" class="btn menu__item" data-action="dialog#close color-scheme#setLight" data-menu-target="item" role="menuitem">
          <span class="icon icon--sun"></span>
          Light
        </button>
        <button type="button" class="btn menu__item" data-action="dialog#close color-scheme#setDark" data-menu-target="item" role="menuitem">
        <span class="icon icon--moon"></span>
          Dark
        </button>
        <button type="button" class="btn menu__item" data-action="dialog#close color-scheme#setSystem" data-menu-target="item" role="menuitem">
          System
        </button>
      </div>
    <% end %>
    
    <%# Notifications dropdown %>
    <div contents 
         data-controller="popover" 
         data-popover-placement-value="bottom-center" <%# Placement for header %>
         data-action="click@window->popover#clickOutside">

      <button type="button" class="btn btn--icon hide@md" 
              data-action="click->popover#toggle" data-popover-target="trigger" aria-haspopup="true">
        <span class="icon icon--bell" aria-hidden="true"></span>
      </button>

      <%= tag.div popover: true, id: "header-notifications-popover", class: "popover popover--notifications", style: "--popover-size: 23rem;", data: { popover_target: "content" } do %>
        <%= render "layouts/sidebar/dashboard/notifications_list" %>
      <% end %>
    </div>

    <%# User profile dropdown %>
    <% trigger = button_tag type: "button", class: "btn p-0 rounded-full border-2 border-green-500 hide@md", data: { action: "dialog#showModal" } do %>
      <%= image_tag "robot.png", size: 32, class: "rounded-full", alt: "User Avatar" %>
    <% end %>

    <%# 2. Call our generic modal_dialog helper with the trigger and a title. %>
    <%= modal_dialog trigger, title: "Menu", size: '12rem' do %>
      <div class="menu" data-controller="menu" data-action="keydown->menu#navigate" role="menu">
        
        <span class="inline-flex items-center gap-2 overflow-ellipsis max-i-full font-semibold">
          <span>Tolase Kelvin</span>
          
          <% if current_user.verified? %>
            <span class="text-positive" title="Verified Account">
              
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
              </svg>
              
              <span class="sr-only">(Verified)</span>
            </span>
          <% end %>
        </span>

        <%# <hr class="menu__separator b-2" role="separator"/> %>
        <%= link_to "Settings", settings_path, class: "btn menu__item", data: { menu_target: "item" }, role: "menuitem" %>
        <%#= link_to "API Keys", "", class: "btn menu__item", data: { menu_target: "item" }, role: "menuitem" %>
        <%#= link_to "Webhooks", "", class: "btn menu__item", data: { menu_target: "item" }, role: "menuitem" %>
        <%#= link_to "Subscription", "", class: "btn menu__item", data: { menu_target: "item" }, role: "menuitem" %>
        <%= button_to "Sign out", Current.session, class: "btn menu__item i-full", method: :delete, role: "menuitem" %>
      </div>
    <% end %>
  </div>
</div>