<div class="sidebar-menu">
  <%= link_to root_path, class: "flex items-center gap mbs-4 mis-1" do %>
    <%= image_tag("logo.png", size: 30) %>
  <% end %>

  <div class="sidebar-menu__content mbs-4">
    <div class="sidebar-menu__group">
      <div class="sidebar-menu__items">  
        <nav class="">
          <%= link_to "#", class: "btn sidebar-menu__button mbe-1" do %>
            <span class="icon icon--home" aria-hidden="true"></span>
            Dashboard
          <% end %>
          <%= link_to voices_path, 
                      class: "btn sidebar-menu__button mbe-1", 
                      aria: (current_page?(voices_path) ? { current: "page" } : {}) do %>
            <span class="icon icon--voices" aria-hidden="true"></span>
            Voices
          <% end %>
        </nav>
      </div>
    </div>
    <div class="sidebar-menu__group">
      <div class="sidebar-menu__group-label">PLAYGROUND</div>
      <div class="sidebar-menu__items">  
        <nav>

          <%= link_to text_to_speech_path, 
                      class: "btn sidebar-menu__button mbe-1", 
                      aria: (current_page?(text_to_speech_path) ? { current: "page" } : {}) do %>
            <span class="icon icon--audio-lines" aria-hidden="true"></span>
            Text to Speech
          <% end %>
          
          <%#= link_to voice_changer_path, 
                      class: "btn sidebar-menu__button mbe-1", 
                      aria: (current_page?(voice_changer_path) ? { current: "page" } : {}) do %>
            <!--<span class="icon icon--vc" aria-hidden="true"></span>
            Voice Changer-->
          <%# end %>
          
          <%#= link_to sound_effects_path, 
                      class: "btn sidebar-menu__button mbe-1", 
                      aria: (current_page?(sound_effects_path) ? { current: "page" } : {}) do %>
            <!--<span class="icon icon--rotate-3d" aria-hidden="true"></span>
            Sound Effects-->
          <%# end %>

        </nav>
      </div>
    </div>
  </div>

  <%# Theme switcher popover %>
  <div class="mbs-auto flex flex-col">
    <%= link_to feedbacks_path, class: "btn sidebar-menu__button mbe-1", aria: (current_page?(feedbacks_path) ? { current: "page" } : {}) do %>
      <span class="icon icon--message-square-text" aria-hidden="true"></span>
      Feedbacks
    <% end %>
    
    <div contents 
         data-controller="popover" 
         data-popover-placement-value="right-center" 
         data-action="click@window->popover#clickOutside">
      <%= button_tag type: "button", class: "btn sidebar-menu__button display-md", data: { action: "click->popover#toggle", popover_target: "trigger" }, aria: { haspopup: "true" } do %>
        <span class="icon icon--sun icon--color-scheme-light" aria-hidden="true"></span>
        <span class="icon icon--moon icon--color-scheme-dark" aria-hidden="true"></span>
        <span class="sr-only">Theme switcher</span>
        Theme
      <% end %>
      <%= tag.div popover: true, id: "dashboard-theme-switcher-popover", class: "popover", style: "--popover-size: 12rem;", data: { popover_target: "content" } do %>
        <div class="menu" data-controller="menu" data-action="keydown->menu#navigate" role="menu">
          <button type="button" class="btn menu__item" data-action="popover#hide color-scheme#setLight" data-menu-target="item" role="menuitem">Light</button>
          <button type="button" class="btn menu__item" data-action="popover#hide color-scheme#setDark" data-menu-target="item" role="menuitem">Dark</button>
          <button type="button" class="btn menu__item" data-action="popover#hide color-scheme#setSystem" data-menu-target="item" role="menuitem">System</button>
        </div>
      <% end %>
    </div>

    <%# Notifications Popover %>
    <div contents 
       data-controller="popover" 
       data-popover-placement-value="right-center" 
       data-action="click@window->popover#clickOutside">

      <%= button_tag type: "button", 
                    class: "btn sidebar-menu__button mbe-1 display-md", 
                    data: { action: "click->popover#toggle", popover_target: "trigger" }, 
                    aria: { haspopup: "true" } do %>
        <span class="icon icon--bell" aria-hidden="true"></span>
        Notifications
      <% end %>

      <%= tag.div popover: true, id: "notifications-popover", class: "popover popover--notifications", style: "--popover-size: 29rem;", data: { popover_target: "content" } do %>
        
        <%= render "layouts/sidebar/dashboard/notifications_list" %>

      <% end %>
    </div>


    <%# User Profile Popover %>
    <div contents 
         data-controller="popover" 
         data-popover-placement-value="right-start" 
         data-action="click@window->popover#clickOutside">
      <%= button_tag type: "button", class: "btn sidebar-menu__button display-md", data: { action: "click->popover#toggle", popover_target: "trigger" }, aria: { haspopup: "true" } do %>
        <div class="flex shrink-0 overflow-hidden rounded-full border-2 border-green-500">
          <%= image_tag "robot.png", size: 32, alt: "User Avatar" %>
        </div>
        <div class="flex flex-col text-start leading-tight overflow-hidden">
          
          <span class="inline-flex items-center gap-2 overflow-ellipsis max-i-full font-semibold">
            <span><%= current_user.name %></span>
            
            <% if current_user.verified? %>
              <span class="text-positive" title="Verified Account">
                
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="green" aria-hidden="true">
                  <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                </svg>
                
                <span class="sr-only">(Verified)</span>
              </span>
            <% end %>
          </span>

          <span class="overflow-ellipsis max-i-full text-xs"><%= current_user.email %></span>
        </div>
        <span class="icon icon--chevrons-up-down mis-auto" aria-hidden="true"></span>
      <% end %>
      <%= tag.div popover: true, id: "user-menu-popover", class: "popover overflow-hidden", style: "--popover-size: 15rem;", data: { popover_target: "content" } do %>

        <div class="p-2">
          <%= render "layouts/shared/credits_card" %>
        </div>
        <hr class="menu__separator" role="separator"/>

        <div class="menu" data-controller="menu" data-action="keydown->menu#navigate" role="menu">
          <%= link_to "Settings", settings_path, class: "btn menu__item", data: { menu_target: "item" }, role: "menuitem" %>
          <%#= link_to "API Keys", "#", class: "btn menu__item", data: { menu_target: "item" }, role: "menuitem" %>
          <%#= link_to "Webhooks", "#", class: "btn menu__item", data: { menu_target: "item" }, role: "menuitem" %>
          <%#= link_to "Usage analytics", "#", class: "btn menu__item", data: { menu_target: "item" }, role: "menuitem" %>
          <%# <hr class="menu__separator" role="separator"/> %>
          <%#= link_to "Docs and resources", "#", class: "btn menu__item", data: { menu_target: "item" }, role: "menuitem" %>
          <%#= link_to "Terms and privacy", "#", class: "btn menu__item", data: { menu_target: "item" }, role: "menuitem" %>
          <%# <hr class="menu__separator" role="separator"/> %>
          <%= button_to "Sign out", Current.session, class: "btn menu__item i-full", method: :delete, role: "menuitem" %>
        </div>
      <% end %>
    </div>

    <div class="hide@md">
      <%= render "layouts/shared/credits_card" %>
    </div>    
  </div>
</div>