<div class="sidebar-menu">
  <div class="sidebar-menu__content">
    <div class="sidebar-menu__group">
      <div class="sidebar-menu__group-label">MENU</div>
      <div class="sidebar-menu__items">
        <details open>
          <summary class="btn sidebar-menu__button">
            <span class="icon icon--square-terminal" aria-hidden="true"></span>
            <span class="overflow-ellipsis">Playground</span>
          </summary>
          <nav class="sidebar-menu__sub">
            <%= link_to "History", "#", class: "btn sidebar-menu__button", aria: { current: "page" } %>
            <%= link_to "Starred", "#", class: "btn sidebar-menu__button" %>
            <%= link_to "Settings", "#", class: "btn sidebar-menu__button" %>
          </nav>
        </details>
        <details>
          <summary class="btn sidebar-menu__button">
            <span class="icon icon--bot" aria-hidden="true"></span>
            <span class="overflow-ellipsis">Models</span>
          </summary>
          <nav class="sidebar-menu__sub">
            <%= link_to "Genesis", "#", class: "btn sidebar-menu__button" %>
            <%= link_to "Explorer", "#", class: "btn sidebar-menu__button" %>
            <%= link_to "Quantum", "#", class: "btn sidebar-menu__button" %>
          </nav>
        </details>
        <details>
          <summary class="btn sidebar-menu__button">
            <span class="icon icon--book-open" aria-hidden="true"></span>
            <span class="overflow-ellipsis">Documentation</span>
          </summary>
          <nav class="sidebar-menu__sub">
            <%= link_to "Documentation", "#", class: "btn sidebar-menu__button" %>
            <%= link_to "Get Started", "#", class: "btn sidebar-menu__button" %>
            <%= link_to "Tutorials", "#", class: "btn sidebar-menu__button" %>
            <%= link_to "Changelog", "#", class: "btn sidebar-menu__button" %>
          </nav>
        </details>
        <details>
          <summary class="btn sidebar-menu__button">
            <span class="icon icon--settings-2" aria-hidden="true"></span>
            <span class="overflow-ellipsis">Settings</span>
          </summary>
          <nav class="sidebar-menu__sub">
            <%= link_to "General", "#", class: "btn sidebar-menu__button" %>
            <%= link_to "Teams", "#", class: "btn sidebar-menu__button" %>
            <%= link_to "Billing", "#", class: "btn sidebar-menu__button" %>
            <%= link_to "Limits", "#", class: "btn sidebar-menu__button" %>
          </nav>
        </details>
      </div>
    </div>
    <div class="sidebar-menu__group">
      <div class="sidebar-menu__group-label">PROJECTS</div>
      <nav class="sidebar-menu__items">
        <%= link_to "#", class: "btn sidebar-menu__button" do %>
          <span class="icon icon--frame" aria-hidden="true"></span>
          <span class="overflow-ellipsis">Design Engineering</span>
        <% end %>
        <%= link_to "#", class: "btn sidebar-menu__button" do %>
          <span class="icon icon--chart-pie" aria-hidden="true"></span>
          <span class="overflow-ellipsis">Sales & Marketing</span>
        <% end %>
        <%= link_to "#", class: "btn sidebar-menu__button" do %>
          <span class="icon icon--map" aria-hidden="true"></span>
          <span class="overflow-ellipsis">Travel</span>
        <% end %>
        <%= tag.a class: "btn sidebar-menu__button", aria: { disabled: true } do %>
          <span class="icon icon--ellipsis" aria-hidden="true"></span>
          <span class="overflow-ellipsis">More</span>
        <% end %>
      </nav>
    </div>
  </div>

  <div class="flex items-center gap mbs-auto">
    <%= link_to "Sign in", sign_in_path, class: "btn i-full" %>
    <%= link_to "Sign up", sign_up_path, class: "btn btn--primary i-full" %>
  </div>
</div>