<div class="popover__scrollable-list">

    <div class=" border-main p-1">
        <%= link_to "#", class: "block p-2 popover__item rounded-md" do %>
            <div class="flex flex-col gap">
            <p class="font-semibold">Get the 2yarn mobile app</p>
            <p class="text-sm text-subtle">Take the most realistic AI voices anywhere — now on iOS and Android.</p>
            <div class="bg-blue-300 rounded-lg p-4 flex justify-center items-center">
                <div class="bg-white rounded-lg p-2 flex flex-col items-center gap-half" style="color: black;">
                <p class="font-bold text-sm">2yarn</p>
                <%= image_tag "robot.png", size: 100, alt: "QR Code" %>
                <button type="button" class="btn text-xs">GET THE APP</button>
                </div>
            </div>
            <p class="text-xs text-subtle">21 days ago</p>
            </div>
        <% end %>
    </div>

    <div class="border-b border-main p-1">
        <%= link_to "#", class: "block p-2 popover__item rounded-md" do %>
            <div class="flex justify-between items-start gap-4">
            <div class="flex flex-col gap-half">
                <p class="font-semibold">Voice Design v3 is here</p>
                <p class="text-sm text-subtle">Create any voice you can imagine with a prompt. We've rebuilt the underlying Voice Design model to deliver higher quality and broader expressive range</p>
                <p class="text-xs text-subtle mbs-2">about 1 month ago</p>
            </div>
            <%= image_tag "robot.png", class: "shrink-0 rounded-md", style: "inline-size: 90px; block-size: 70px; object-fit: cover;" %>
            </div>
        <% end %>
    </div>

    <div class="border-b border-main p-1">
        <%= link_to "#", class: "block p-2 popover__item rounded-md" do %>
            <div class="flex justify-between items-start gap-4">
            <div class="flex flex-col gap-half">
                <p class="font-semibold">Introducing 11.ai (alpha)</p>
                <p class="text-sm text-subtle">A voice-first personal assistant, powered by Conversational AI</p>
                <p class="text-xs text-subtle mbs-2">about 2 months ago</p>
            </div>
            <%= image_tag "robot.png", class: "shrink-0 rounded-md", style: "inline-size: 90px; block-size: 70px; object-fit: cover;" %>
            </div>
        <% end %>
    </div>

    <div class="border-b border-main p-1">
        <%= link_to "#", class: "block p-2 popover__item rounded-md" do %>
            <div class="flex justify-between items-start gap-4">
            <div class="flex flex-col gap-half">
                <p class="font-semibold">Introducing 11.ai (alpha)</p>
                <p class="text-sm text-subtle">A voice-first personal assistant, powered by Conversational AI</p>
                <p class="text-xs text-subtle mbs-2">about 2 months ago</p>
            </div>
            <%= image_tag "robot.png", class: "shrink-0 rounded-md", style: "inline-size: 90px; block-size: 70px; object-fit: cover;" %>
            </div>
        <% end %>
    </div>

    <div class="border-b border-main p-1">
        <%= link_to "#", class: "block p-2 popover__item rounded-md" do %>
            <div class="flex justify-between items-start gap-4">
            <div class="flex flex-col gap-half">
                <p class="font-semibold">Introducing 11.ai (alpha)</p>
                <p class="text-sm text-subtle">A voice-first personal assistant, powered by Conversational AI</p>
                <p class="text-xs text-subtle mbs-2">about 2 months ago</p>
            </div>
            <%= image_tag "robot.png", class: "shrink-0 rounded-md", style: "inline-size: 90px; block-size: 70px; object-fit: cover;" %>
            </div>
        <% end %>
    </div>

    <div class="border-b border-main p-1">
        <%= link_to "#", class: "block p-2 popover__item rounded-md" do %>
            <div class="flex justify-between items-start gap-4">
            <div class="flex flex-col gap-half">
                <p class="font-semibold">Introducing 11.ai (alpha)</p>
                <p class="text-sm text-subtle">A voice-first personal assistant, powered by Conversational AI</p>
                <p class="text-xs text-subtle mbs-2">about 2 months ago</p>
            </div>
            <%= image_tag "robot.png", class: "shrink-0 rounded-md", style: "inline-size: 90px; block-size: 70px; object-fit: cover;" %>
            </div>
        <% end %>
    </div>

    <div class="border-b border-main p-1">
        <%= link_to "#", class: "block p-2 popover__item rounded-md" do %>
            <div class="flex justify-between items-start gap-4">
            <div class="flex flex-col gap-half">
                <p class="font-semibold">Introducing 11.ai (alpha)</p>
                <p class="text-sm text-subtle">A voice-first personal assistant, powered by Conversational AI</p>
                <p class="text-xs text-subtle mbs-2">about 2 months ago</p>
            </div>
            <%= image_tag "robot.png", class: "shrink-0 rounded-md", style: "inline-size: 90px; block-size: 70px; object-fit: cover;" %>
            </div>
        <% end %>
    </div>
</div>