<% is_service_prefilled = feedback.service.present? %>

<%= form_with(model: feedback, html: { contents: true }) do |form| %>

  <%= form.hidden_field :generated_audio_clip_id %>

  <% if is_service_prefilled %>
    <%= form.hidden_field :service, value: feedback.service %>
  <% end %>

  <% if feedback.errors.any? %>
    <div class="alert alert--negative" role="alert">
      <h2><%= pluralize(feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>
      <ul>
        <% feedback.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col items-start gap-half mbe-4">
    <%= form.label :service, class: "text-sm font-medium leading-none" %>
    <%= form.select :service, Feedback.services.keys.map { |s| [s.humanize, s] }, 
                    { prompt: "Select a service" }, 
                    class: "i-full", 
                    data: { controller: "combobox" }, 
                    disabled: is_service_prefilled %>
  </div>

  <div class="flex flex-col items-start gap-half mbe-4">
    <%= form.label :feedback_type, class: "text-sm font-medium leading-none" %>
    <%= form.select :feedback_type, Feedback.feedback_types.keys.map { |ft| [ft.humanize, ft] }, { prompt: "Select feedback type" }, class: "i-full", data: { controller: "combobox" } %>
  </div>

  <div class="flex flex-col items-start gap-half mbe-4">
    <%= form.label :rating, "Rating (for reviews)", class: "text-sm font-medium leading-none" %>
    <div class="rating">
      <%= form.collection_radio_buttons(:rating, [[5],[4],[3],[2],[1]], :first, :last) do |star| %>
        <%= star.radio_button %>
        <%= star.label(class: "text-white") %>
      <% end %>
    </div>
  </div>

  <div class="flex flex-col items-start gap-half mbe-4">
    <%= form.label :comment, class: "text-sm font-medium leading-none" %>
    <%= form.text_area :comment, rows: 5, class: "input", placeholder: "Please provide as much detail as possible..." %>
  </div>

  <div class="flex items-center justify-end gap-2">
    <%= form.submit "Submit Feedback", class: "btn btn--primary" %>
    <button type="button" class="btn" data-action="modal#close">Cancel</button>
  </div>
<% end %>