<div class="flex items-center gap">
  <%= link_to root_path, class: "flex items-center gap mie-2" do %>
    <span class="icon icon--audio-waveform" style="--icon-size: 1.5rem" aria-hidden="true"></span>
    <span class="font-bold">SpeechstackAI</span>
  <% end %>

  <nav class="flex items-center gap text-sm text-primary font-semibold show@md" style="--column-gap: 1rem">
    <%= link_to "Docs", "#" %>
    <%= link_to "Components", "#" %>
    <%= link_to "Blocks", "#" %>
    <%= link_to "Charts", "#" %>
    <%= link_to "Themes", "#" %>
    <%= link_to "Colors", "#" %>
  </nav>
</div>

<div class="flex items-center gap">

  <% if !user_signed_in? %>
    <div contents data-controller="popover" data-popover-placement-value="bottom-start">
      <button type="button" class="btn btn--toggle btn--icon rounded-full" data-popover-target="trigger" popovertarget="popover" aria-haspopup="true">
        <span class="icon icon--user" style="--icon-size: 1.2rem" aria-hidden="true"></span>
      </button>

      <div popover id="popover" class="popover" style="--popover-size: 8rem;" data-popover-target="content">
        <div class="menu" data-controller="menu" data-action="keydown->menu#navigate" role="menu">
          <%= link_to "Sign in", sign_in_path, class: "btn menu__item", data: { menu_target: "item" }, role: "menuitem" %>
          <%= link_to "Sign up", sign_up_path, class: "btn menu__item", data: { menu_target: "item" }, role: "menuitem" %>
        </div>
      </div>
    </div>
  <% end %>

  <!--<div contents data-controller="popover" data-popover-placement-value="bottom-start">
    <button type="button" class="btn btn--icon" data-popover-target="trigger" popovertarget="color_scheme_popover" aria-haspopup="true">
      <span class="icon icon--sun icon--color-scheme-light" aria-hidden="true"></span>
      <span class="icon icon--moon icon--color-scheme-dark" aria-hidden="true"></span>
      <span class="sr-only">Theme switcher</span>
    </button>

    <div popover id="color_scheme_popover" class="popover" data-popover-target="content">
      <div class="menu" data-controller="menu" data-action="keydown->menu#navigate" role="menu">
        <button type="button" class="btn menu__item" data-action="popover#hide color-scheme#setLight" data-menu-target="item" role="menuitem">Light</button>
        <button type="button" class="btn menu__item" data-action="popover#hide color-scheme#setDark" data-menu-target="item" role="menuitem">Dark</button>
        <button type="button" class="btn menu__item" data-action="popover#hide color-scheme#setSystem" data-menu-target="item" role="menuitem">System</button>
      </div>
    </div>
  </div>-->

  <!--<div contents data-controller="popover" data-popover-placement-value="bottom-start">
    <button type="button" class="btn avatar" data-popover-target="trigger" popovertarget="popover" aria-haspopup="true">
      <%#= image_tag "robot.png", size: 48, alt: "CN" %>
    </button>

    <div popover id="popover" class="popover" style="--popover-size: 8rem;" data-popover-target="content">
      <div class="menu" data-controller="menu" data-action="keydown->menu#navigate" role="menu">
        <%#= link_to "Settings", settings_path, class: "btn menu__item", data: { menu_target: "item" }, role: "menuitem" %>
        <%#= link_to "Usage analytics", "", class: "btn menu__item", data: { menu_target: "item" }, role: "menuitem" %>
        <%# if user_signed_in? %>
          <hr class="menu__separator" role="separator"/>
          <%#= button_to "Sign out", Current.session, class: "btn menu__item i-full", method: :delete, role: "menuitem" %>
        <%# end %>
      </div>
    </div>
  </div>-->
</div>