<%= turbo_frame_tag "settings_content" do %>
  <div class="p-4">

    <%# --- MOBILE-ONLY BACK BUTTON --- %>
    <%= render "shared/settings_back_button" %>

    <div class="max-i-full">
      <h1 class="font-bold text-2xl mbe-4">Activity Log</h1>
      <p class="text-subtle mbe-6">A log of important security-related events that have occurred on your account.</p>

      <div id="events" class="flex flex-col gap">
        <% @events.each do |event| %>
          <div id="<%= dom_id event %>" class="flex items-center justify-between p-4 rounded-lg bg-surface border border-main">
            <div class="flex flex-col gap-half">
              <p class="font-medium capitalize"><%= event.action.gsub("_", " ") %></p>
              <p class="text-sm text-subtle"><%= event.user_agent %></p>
              <p class="text-xs text-subtle"><%= event.created_at.strftime("%b %d, %Y %I:%M %p") %> from <%= event.ip_address %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>