<div class="sidebar-menu">
  <%= link_to "#", class: "btn sidebar-menu__button" do %>
    <div class="flex shrink-0 overflow-hidden rounded-lg bg-black text-reversed">
      <span class="icon icon--boom-box m-2"></span>
    </div>
    <div class="flex flex-col text-start leading-tight overflow-hidden">
      <span class="overflow-ellipsis font-semibold">Zero Inc</span>
      <span class="overflow-ellipsis text-xs">Enterprise</span>
    </div>
    <span class="icon icon--chevrons-up-down mis-auto" aria-hidden="true"></span>
  <% end %>
  <div class="sidebar-menu__content">
    <div class="sidebar-menu__group">
      <div class="sidebar-menu__group-label">Platform</div>
      <div class="sidebar-menu__items">
        <details open>
          <summary class="btn sidebar-menu__button">
            <span class="icon icon--square-terminal" aria-hidden="true"></span>
            <span class="overflow-ellipsis">Playground</span>
          </summary>
          <nav class="sidebar-menu__sub">
            <%= link_to "History", "#", class: "btn sidebar-menu__button", aria: { current: "page" } %>
            <%= link_to "Starred", "#", class: "btn sidebar-menu__button" %>
            <%= link_to "Settings", "#", class: "btn sidebar-menu__button" %>
          </nav>
        </details>
        <details>
          <summary class="btn sidebar-menu__button">
            <span class="icon icon--bot" aria-hidden="true"></span>
            <span class="overflow-ellipsis">Models</span>
          </summary>
          <nav class="sidebar-menu__sub">
            <%= link_to "Genesis", "#", class: "btn sidebar-menu__button" %>
            <%= link_to "Explorer", "#", class: "btn sidebar-menu__button" %>
            <%= link_to "Quantum", "#", class: "btn sidebar-menu__button" %>
          </nav>
        </details>
        <details>
          <summary class="btn sidebar-menu__button">
            <span class="icon icon--book-open" aria-hidden="true"></span>
            <span class="overflow-ellipsis">Documentation</span>
          </summary>
          <nav class="sidebar-menu__sub">
            <%= link_to "Documentation", "#", class: "btn sidebar-menu__button" %>
            <%= link_to "Get Started", "#", class: "btn sidebar-menu__button" %>
            <%= link_to "Tutorials", "#", class: "btn sidebar-menu__button" %>
            <%= link_to "Changelog", "#", class: "btn sidebar-menu__button" %>
          </nav>
        </details>
        <details>
          <summary class="btn sidebar-menu__button">
            <span class="icon icon--settings-2" aria-hidden="true"></span>
            <span class="overflow-ellipsis">Settings</span>
          </summary>
          <nav class="sidebar-menu__sub">
            <%= link_to "General", "#", class: "btn sidebar-menu__button" %>
            <%= link_to "Teams", "#", class: "btn sidebar-menu__button" %>
            <%= link_to "Billing", "#", class: "btn sidebar-menu__button" %>
            <%= link_to "Limits", "#", class: "btn sidebar-menu__button" %>
          </nav>
        </details>
      </div>
    </div>
    <div class="sidebar-menu__group">
      <div class="sidebar-menu__group-label">Projects</div>
      <nav class="sidebar-menu__items">
        <%= link_to "#", class: "btn sidebar-menu__button" do %>
          <span class="icon icon--frame" aria-hidden="true"></span>
          <span class="overflow-ellipsis">Design Engineering</span>
        <% end %>
        <%= link_to "#", class: "btn sidebar-menu__button" do %>
          <span class="icon icon--chart-pie" aria-hidden="true"></span>
          <span class="overflow-ellipsis">Sales & Marketing</span>
        <% end %>
        <%= link_to "#", class: "btn sidebar-menu__button" do %>
          <span class="icon icon--map" aria-hidden="true"></span>
          <span class="overflow-ellipsis">Travel</span>
        <% end %>
        <%= tag.a class: "btn sidebar-menu__button", aria: { disabled: true } do %>
          <span class="icon icon--ellipsis" aria-hidden="true"></span>
          <span class="overflow-ellipsis">More</span>
        <% end %>
      </nav>
    </div>
  </div>
  <%= link_to "#", class: "btn sidebar-menu__button mbs-auto" do %>
    <div class="flex shrink-0 overflow-hidden rounded-lg">
      <%= image_tag "robot.png", size: 32, alt: "CN" %>
    </div>
    <div class="flex flex-col text-start leading-tight overflow-hidden">
      <span class="overflow-ellipsis max-i-full font-semibold">Lázaro Nixon</span>
      <span class="overflow-ellipsis max-i-full text-xs">lazaronixon@hotmail.com</span>
    </div>
    <span class="icon icon--chevrons-up-down mis-auto" aria-hidden="true"></span>
  <% end %>
</div>